.home_main {
  width: 100%;
  
  text-align: center;
}
.sub_main {
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 20px; */
  margin: 10px 0px;
  align-content: flex-start;
}

.card_main{
  margin: 20px 0px;
}